In [1]:
x= str("hello, world")
print (x)
#print data type (x)

hello, world

In [3]:
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [4]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [6]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [7]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [8]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>