In [1]:
x = 5
y = 3

print(x + y)

8

In [2]:
x = 5
y = 3

print(x - y)

2

In [3]:
x = 5
y = 3

print(x * y)

15

In [4]:
x = 12
y = 3

print(x / y)

4.0

In [5]:
x = 5
y = 2
print(x % y)

1

In [6]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [7]:
x = 5

print(x)

5

In [8]:
x = 5

x += 3

print(x)

8

In [9]:
x = 5

x += 3
print(x)

8

In [10]:
x = 5

x -= 3

print(x)

2

In [11]:

x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [12]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [13]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [14]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [15]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [16]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False