In [6]:
def my_function():
  print("hello from a functions ")

my_function()

hello from a functions

In [8]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [13]:
def my_function(fname, lname):
  print(fname + "" + lname)
my_function("emil", "refsnes")

emilrefsnes

In [21]:
def my_function (*kids):
   print ("the youngest child is "+kids[2])
my_function ("email" , "tobias" , "linus")

the youngest child is linus

In [23]:
def my_function(child3, child2, child1):
  print("the youngest child is " + child3)
my_function(child1="emil", child2="tobias", child3="linus")

the youngest child is linus

In [24]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [25]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [26]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry